:host {
    background-color: var(--primary);
    width: 70%;
    border-radius: 0.5em;
    border: 2px solid rgb(73, 80, 119);
    padding: 4em 3em;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: column wrap;
    gap: 3em;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

header p {
    color: var(--text);
    font-size: 1em;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    gap: 1em;
}

main app-item:last-child {
    margin-right: auto;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.pagination {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    list-style-type: none;
}

.page-item {
    background-color: transparent;
    border-radius: 0.5em;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    color: var(--text);
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1em;
}

.mobile {
    display: none;
}

.no-mobile {
    display: flex;
}

.page-item.arrow {
    border: 1px solid var(--tertiary);
}

.page-item:hover {
    background-color: var(--tertiary);
}

@media screen and (orientation: portrait) {
    :host {
        width: 90%;
        padding: 1.5em;
    }

    header p {
        display: none;
    }

    header .input {
        flex: 1;
    }

    .pagination {
        width: 80%;
    }

    .page-item {
        font-size: 0.8em;
        width: 2.5em;
        height: 2.5em;
    }

    .mobile {
        display: flex;
    }

    .no-mobile {
        display: none;
    }
}