<main>
    <h2>Condimentum consectetur</h2>

    <section class="filters">
        <section>
            <div class="input">
                <i class="ph-fill ph-sword"></i>
                <select name="game" id="game">
                    <option value="" disabled selected>Select a game</option>
                    <option value="Overwatch 2">Overwatch 2</option>
                </select>
                <i class="ph ph-caret-down"></i>
            </div>
        </section>
        <section>
            <div class="input">
                <i class="ph ph-magnifying-glass"></i>
                <input type="search" placeholder="Search" name="search" id="search">
            </div>
            <div>
                <div class="input select">
                    <i class="ph-fill ph-coins"></i>
                    <div>
                        <label for="price">Price</label>
                        <select name="price" id="price">
                            <option value="All" selected>All</option>
                        </select>
                    </div>
                    <i class="ph ph-caret-down"></i>
                </div>
                <div class="input select">
                    <i class="ph-fill ph-feather"></i>
                    <div>
                        <label for="type">Item type</label>
                        <select name="price" id="price">
                            <option value="All" selected>All</option>
                        </select>
                    </div>
                    <i class="ph ph-caret-down"></i>
                </div>
            </div>
        </section>
    </section>

    <app-item-list />
</main>