<footer>
    <section id="first">
        <img src="https://chicksgold.com/payment-methods/visa.svg" alt="Visa">
        <img src="https://chicksgold.com/payment-methods/mastercard.svg" alt="Mastercard">
        <img src="https://chicksgold.com/payment-methods/amex.svg" alt="Amex">
        <img src="https://chicksgold.com/payment-methods/skrill.svg" alt="Skrill">
        <img src="https://chicksgold.com/payment-methods/crypto.svg" alt="Cryptos">
        <p>and 50+ more</p>
    </section>
    <section id="second">
        <section>
            <a href="https://www.instagram.com/chicksgold/" target="_blank">
                <img src="https://chicksgold.com/icons/facebook.svg" alt="Facebook">
            </a>
            <a href="https://twitter.com/chicksgold" target="_blank">
                <img src="https://chicksgold.com/icons/instagram.svg" alt="Instagram">
            </a>
            <a href="https://twitter.com/chicksgold" target="_blank">
                <img src="https://chicksgold.com/icons/twitter.svg" alt="Twitter">
            </a>
            <a href="https://discord.com/invite/chicksgold" target="_blank">
                <img src="https://chicksgold.com/icons/discord.svg" alt="Discord">
            </a>
        </section>
        <section>
            <div class="logo">
                <img src="https://chicksgold.com/logo/chicks-logo-large.svg" alt="Logo">
                <a href="mailto:support@chicksgold.com">support@chicksgold.com</a>
            </div>
            <div *ngFor="let item of items$ | async" class="legal">
                <h3>{{ item.label }}</h3>
                <ul>
                    <li *ngFor="let link of item.items"><a href="/">{{ link }}</a></li>
                </ul>
            </div>
            <div class="rating">
                <div>
                    <img src="https://chicksgold.com/home/star_full.svg" alt="">
                    <img src="https://chicksgold.com/home/star_full.svg" alt="">
                    <img src="https://chicksgold.com/home/star_full.svg" alt="">
                    <img src="https://chicksgold.com/home/star_full.svg" alt="">
                    <img src="https://chicksgold.com/home/star_semisesqui.svg" alt="">
                </div>
                <h3>Trustpilot Reviews</h3>
            </div>
        </section>
    </section>
    <section id="third">
        <small>&copy; 2017-{{ year }} Chicksgold.com. All rights reserved</small>
    </section>
</footer>